<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>" class="text-user text-center mb-5">Direct Message with <%= @user.name %></h2>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-12 message-container">
      <% @messages.each do |message| %>
        <% if message.user_id == current_user.id %>
          <%= render "message", message: message %>
        <% else %>
          <div class="row">
            <div class="col-md-1">
              <%= link_to user_path(@user.id) do %>
                <% if @user.profile_image.attached? %>
                  <%= image_tag url_for(@user.profile_image), size: "60x60" %>
                <% else %>
                  <%= image_tag 'icon_user_5.png', size: "60x60" %>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-4 col-7">
              <div class="ml-1 mt-1 message-style" style="background-color: #ffd3d1; padding: 5px; border-radius: 10px;">
                <%= simple_format(message.message, {}, wrapper_tag: "div") %>
                <p class="text-black-50 d-flex justify-content-end align-self-end mb-0 small"><<%= message.created_at.strftime('%Y/%m/%d %H:%M') %>></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-5">
    <div class="col-4 errors"></div>
  </div>

  <%= form_with model: @message, data: {remote: true} do |f| %>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-5">
        <%= f.text_area :message, class: "form-control" %>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-4">
      <%= f.submit "Send", class: "btn btn-success my-btn" %>
      <%= f.hidden_field :room_id %>
    </div>
  <% end %>
</div>