<div class="container">
  <div class="row mx-auto">
    <h2 class="text-user mb-4">会員一覧</h2>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>ユーザー名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td>
              <% if user.profile_image.attached? %>
                <%= image_tag url_for(user.profile_image), size: "70x70" %>
              <% else %>
                <%= image_tag 'icon_user_5.png', size: "70x70" %>
              <% end %>
            </td>
            <td><%= link_to "詳細", admin_user_path(user), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @users, theme: 'twitter-bootstrap-4' %>
</div>
