<!DOCTYPE html>
<html>
  <head>
    <title>NihonLink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/677a0f7eeb.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'add_styles' %>
  </head>

  <body class="wrap">

    <header class="mb-2">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a href="/" class="navbar-brand mx-5">
            <%= image_tag 'logo-re.png', size: "100x100" %>
          </a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <% if user_signed_in? %>
                  <li class="nav-item mr-3">
                    <%= link_to 'About', about_path, class: 'btn btn-h' %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to 'My page', mypage_users_path, class: 'btn btn-h' %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to 'Posts', posts_path, class: 'btn btn-h' %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to 'New post', new_post_path, class: 'btn btn-h' %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to 'Log out', destroy_user_session_path, class: 'btn btn-h', method: :delete %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to about_path, class: 'btn btn-h' do %>
                      <i class="fa-solid fa-bell"></i>
                    <% end %>
                  </li>
                <% elsif admin_signed_in? %>
                  <li class="nav-item mr-3">
                    <%= link_to 'ユーザー一覧', about_path, class: 'btn btn-h' %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to 'コメント一覧', about_path, class: 'btn btn-h' %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to 'グループ一覧', about_path, class: 'btn btn-h' %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to 'ジャンル一覧', admin_genres_path, class: 'btn btn-h' %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to 'ログアウト', destroy_admin_session_path, class: 'btn btn-h', method: :delete %>
                  </li>
                <% else %>
                  <li class="nav-item mr-3">
                    <%= link_to 'About', about_path, class: 'btn btn-h' %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-h' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Log In', new_user_session_path, class: 'btn btn-h' %>
                  </li>
                <% end %>
              </ul>
          </div>
        </div>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="mb-5">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            <h5 class="text-white">©7gi</h5>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
